@charset "utf-8";

/* ==========================================================================
   1. 웹 폰트 등록 (@font-face)
   ========================================================================== */

/* --------------------------------------------------------------------------
   [국문] Pretendard 시리즈
-------------------------------------------------------------------------- */
/* Regular (100) */
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Light.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
}
/* Regular (400) */
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
/* Medium (500) */
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
/* SemiBold (600) */
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
/* Bold (700) */
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* --------------------------------------------------------------------------
   [영문] EB Garamond 시리즈
-------------------------------------------------------------------------- */
/* Regular (400) */
@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
/* Medium (500) */
@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
/* SemiBold (600) - 파일 이름이 SemiBold입니다 */
@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
/* Bold (700) */
@font-face {
    font-family: 'EBGaramond';
    src: url('../fonts/EBGaramond-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

/* ==========================================================================
   2. 전체 배경 및 기본 바디 세팅
   ========================================================================== */

html {scrollbar-gutter:stable;}
body {background:#202020; font-family:'EBGaramond', 'Pretendard';color: #EBE8E8;}
*, *:before, *:after {box-sizing: border-box;}
a {text-decoration: none;color: inherit;}
h2 {font-size:48px;} /* DJ's PICK, New Arrival, Magazine 등 h2 폰트 사이즈 48px  */

/* =========================
           Header
===========================*/

.site-header {width:100%;padding:20px 0 10px;position:fixed;z-index:100;top:0;left:0;
                transition: transform 0.3s ease-in-out, background-color 0.3s ease;}
.site-header-inner {display:flex;width:80%;margin:0 auto; justify-content:space-between;}

.site-header.menu-open {background: transparent !important;backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;border-bottom: none !important;box-shadow: none !important;
    pointer-events: none;}
.site-header.menu-open .btn-hamburger,
.site-header.menu-open a,
.site-header.menu-open .btn-search {pointer-events: auto;}


.site-header.fixed{/*background:#20202090;border-bottom: 1px solid #444444;*/
    backdrop-filter:blur(5px);-webkit-backdrop-filter: blur(5px);
    background: linear-gradient(
        to bottom, 
        rgba(12, 12, 12, 0.95) 0%,   /* 맨 위*/
        rgba(22, 22, 22, 0.6) 60%,   /* 중간*/
        rgba(32, 32, 32, 0) 100%     /* 맨 아래*/
    );}
.site-header.hide {transform: translateY(-100%);}

.logo a img{width:60px;}

.util-nav ul {display:flex;gap: 33px;}
.util-nav ul li {margin-top:10px;margin-left:5px;}
.util-nav ul li:last-child{margin-top:0;margin-left:0;}
.util-nav ul li button {background:none;border:none;cursor: pointer;}
.util-nav ul li button img {width:40px;}
.util-nav ul li img {width:25px;}
.btn-search {cursor: pointer;}
.btn-search img {width:25px!important;}

/* =========================
            MENU
===========================*/
.full-page-menu {width:100vw; height:100vh;z-index:100;position:fixed;top:0;left:0;
    background:url(../img/common/full-page-menu.png)no-repeat center;background-size: cover;
    opacity: 0;visibility: hidden;transition: opacity 0.4s ease, visibility 0.4s ease;z-index: 90;}
.full-page-menu.f-active {opacity: 1;visibility: visible;}

.btn-hamburger {width: 30px;height: 22px;position: relative;background: none;border: none; 
    cursor: pointer;z-index: 110;top:11px;}





.btn-hamburger .bar {display: block;width: 100%;height: 2px;background-color: #fff;position: absolute; 
                left: 0;transition: all 0.3s ease-in-out;}
.btn-hamburger .bar:nth-child(1) { top: 0; }
.btn-hamburger .bar:nth-child(2) { top: 50%; transform: translateY(-50%); }
.btn-hamburger .bar:nth-child(3) { bottom: 0; }
.btn-hamburger.active .bar:nth-child(1) {top: 50%;transform: translateY(-50%) rotate(45deg);}
.btn-hamburger.active .bar:nth-child(2) {opacity: 0;}
.btn-hamburger.active .bar:nth-child(3) {bottom: 50%;transform: translateY(50%) rotate(-45deg);}


.close-menu-btn {background:none;border:none;position:absolute;right:10%;top:20px;cursor: pointer;}
.close-menu-btn img{width:35px;}

.menu-inner {padding-top:30px;max-width:1410px;}

.menu-util-nav {position:absolute;left:27%;}
.menu-util-nav ul {display: flex;}
.menu-util-nav ul li {margin-right:20px;font-size:20px;}
.menu-util-nav ul li:hover a {text-decoration: underline;}

.main-menu-nav {position:absolute;top:15%;left:4%;font-family:"Pretendard";}
.main-menu-nav ul {display:flex;flex-direction:column; gap:60px;}
.main-menu-num {font-size:14px; font-weight:100;margin-right:20px;}
.depth1 {font-size:48px; font-weight:bold;display: inline-block;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);}
.main-menu-nav ul li:hover .depth1 {color: #EB681B;transform: translateX(15px);/*text-shadow: 2px 2px 10px rgba(235, 104, 27, 0.3);*/}
.depth2 {font-size:14px;font-weight:100;margin-top:20px;margin-left:30px;}
.depth2 a {margin-right:10px;}
.depth2 a:hover {text-decoration:underline;}
.menu-footer {position:absolute;bottom:5%;left:32%;}

.menu-log {position:absolute;right:5%;bottom:5%;}
.menu-log .menu-log-out {display:none;}
.menu-log a{font-size:24px;display:flex;flex-direction:column;align-items: center;transition:all 0.5s ease;}
.menu-log a img {width:65px;}
.menu-log a:hover {transform:scale(1.1);}

/* =========================
          Footer
===========================*/

.footer-top-section {width:100%;border-top:2px solid #ebebeb;padding-bottom:20px;
                border-bottom:1px solid #444444;}
.footer-top-container {display: flex;width:80%; margin:20px auto 0;align-items: center;}

.footer-top__left {display:flex;}
.footer-top__left li {margin-right:30px;font-size:14px;}

.footer-top__right {display:flex;gap: 30px;align-items: center; margin-left:auto;}

.footer-top__right img{width:25px;}

.footer-bottom-section {width:80%;margin:20px auto;display:block;}

.footer-bottom__txt {display:flex;flex-wrap:wrap;font-family:"pretendard";margin-bottom:20px;}
.footer-bottom__txt li {padding:0 10px;font-size:14px;border-right:1px solid #fff;margin-bottom:5px;}

.footer-bottom__txt li:first-child {padding:0;padding-right:10px;}
.footer-bottom__txt li:nth-child(5) {border:none;}
.footer-bottom__txt li:nth-child(6) {padding:0;padding-right:10px;}


.footer-bottom__escrow {align-items: center;display:flex;}
.footer-bottom__escrow img{width:13px;margin-right:10px;}
.footer-bottom__escrow span{font-size:12px;line-height:12px;}


/* =========================
            SEARCH
===========================*/

.full-page-search {position: fixed;top: 0;left: 0;width: 100vw;height: 100vh;display: flex;
    background-color: rgba(25, 25, 25, 0.98);z-index: 200;justify-content: center;align-items: center;     
    transform: translateY(-100%);transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);}


.full-page-search.s-active {transform: translateY(0);}

.btn-close-search {position: absolute;top: 40px;right: 5%;width: 35px;height: 35px;background: none;
    border: none;cursor: pointer;}
.btn-close-search .bar-search {position: absolute;top: 50%;left: 0;width: 100%;height: 2px;
    background-color: #fff;transition: transform 0.3s ease;}

.btn-close-search .bar-search:nth-child(1) { transform: translateY(-50%) rotate(45deg); }
.btn-close-search .bar-search:nth-child(2) { transform: translateY(-50%) rotate(-45deg); }
.btn-close-search:hover .bar-search { background-color: #EB681B;}

.search-container {display: flex;align-items: center;width: 60%;max-width: 800px;border-bottom: 1px solid #fff; /* 시안의 얇은 밑줄! */
    padding-bottom: 15px;transition: border-color 0.3s ease;}

.search-container:focus-within {border-bottom-color: #EB681B;}
.search-icon-inner {width: 35px;margin-right: 20px;}

.search-input {flex: 1;background: none;border: none;outline: none;color: #fff;font-size: 32px;
    font-family: 'Pretendard', sans-serif;font-weight: 400;}

.search-input::placeholder {color: #555;font-weight: 200;}