@charset "utf-8";



/* =========================
        hero section
===========================*/

.hero-section {position: relative;width: 100%;min-height: 100vh;overflow: hidden;}
.hero-text { position: absolute;z-index: 10;padding: 100px 50px;bottom:0;left:7%;}
.hero-image {position: absolute;top: 0;right: 0;width: 100%;height:100%;z-index: 1;}
.hero-image img {width: 100%;height: auto;display: block;object-fit: cover;filter: brightness(0.45);}

.banner-title span {display: block;font-size: 80px;font-weight: bold;line-height: 1.1;color: #EBE8E8;}

.banner-title .txt-welcome {padding-left: 50px;line-height:0.8;}
.banner-title .txt-to {font-size: 55px;padding-left: 180px;}
.banner-title .txt-seoul {padding-left:0px;}
.banner-title .txt-vinyl {padding-left: 180px;line-height:0.5;}

/* =========================
          DJ's PICK
===========================*/
.dj-pick {width:100%;margin:80px auto; display:flex; flex-direction:column;}
.dj-pick-header{width:80%;margin:0 auto; margin-bottom:40px;}
.dj-pick-header h2 {font-size:48px;font-weight:600;letter-spacing:2px;}
.dj-pick__title-image{opacity:0.5;}
.dj-pick__deco-line {width:100px; height:20px; border-bottom: 6px solid #fff;}

.album-swiper {width: 100%; padding-top:20px; padding-bottom:20px;}
.album-swiper .dj-pick-slide-img {width:500px; height:500px; box-shadow: 0 15px 35px rgba(0, 0, 0, 0.7);
                border-radius: 10px;overflow:hidden;transition:opacity 0.3s;}
.album-swiper .dj-pick-slide-img img {width:100%;height:100%;object-fit:cover;}

.text-slider-container {margin-top: 40px;text-align: center;width:100%; max-width:550px;position:relative;
                    margin-left:auto;margin-right:auto;}
.text-swiper {width:100%; height:150px;}
.text-swiper .swiper-slide {display:flex; justify-content: center; align-items: center;font-size:1.1rem;
            color:#555;opacity:0.5;transition: all 0.4s ease;}
.text-swiper .swiper-slide p {width:100%; white-space: nowrap;overflow:hidden;text-overflow:ellipsis;}
.text-swiper .swiper-slide-active{font-size:1.8rem; font-weight:bold;color:#fff; opacity:1;}


.title-underline {position:absolute; top:50%; left:50%; transform:translate(-50%,25px);width:250px;
                height:1px; background:rgba(255,255,255,0.4);z-index: 10;pointer-events: none;}


/* =========================
        New-Arrival
===========================*/

.new-arrival{width:100%; position:relative;margin: 80px 0;}
.new-arrival-head {width:80%; margin:0 auto;display:flex;gap:15px;align-items: center;}
.new-arrival-head h2 {font-size:48px;}
.new-arrival-head a {transform:translateY(5px);}

.new-arrival-background {position:absolute;opacity:0.3;}

.arrival-swiper {margin-left:10%!important;margin-top:40px;font-family:'Pretendard';}
.new-arrival-imgbox {width:20%!important;position:relative;}
.new-arrival-imgbox img {width:100%;border-radius:10px;}
.new-arrival-imgbox h3 {padding:10px 0; font-size:20px;}
.new-arrival-imgbox p {font-size: 14px;}

.arrival__play {width:40px!important;position:absolute;right:10px;bottom:70px;cursor: pointer;}

.new-arrival-arrow {margin-top:20px;width:15%;display:flex;justify-content: space-around;margin-left:auto;}
.new-arrival-arrow .arrival-left,
.new-arrival-arrow .arrival-right {background:none;border:none;cursor: pointer;transition: all 0.4s ease;}

.new-arrival-arrow .arrival-left:hover,
.new-arrival-arrow .arrival-right:hover {transform:scale(1.2);}


/* =========================
          Magazine
===========================*/

.magazine-section {padding: 80px 0;}
.magazine-container {width:80%; margin: 0 auto;max-width:1152px;}

.magazine-deco-lines {display:flex;}
.magazine-deco-line1 {width:59px;height:2px;background:#ebe8e8;margin-right:29px;}
.magazine-deco-line2 {width:13px; height:2px; background:#ebe8e8;}

.magazine-header {margin-bottom:20px;}

.magazine-inner-underline {width:100%; height:1px;background:#ebe8e8;margin-bottom:15px;}

.magazine-inner-top img {width:100%;}
.magazine-inner-middle {display:flex;gap:14px;text-align: center;margin-top:14px;}



.magazine-inner-left{width:310px;margin: 0 auto;}
.magazine-inner-left-b {font-size:45px;}
.magazine-inner-left-s {font-size:35px;}
.magazine-inner-left p {font-size:99px;line-height:0.8;}


.magazine-inner-left-deco-line1 {height:1px;margin:13px auto;}
.magazine-inner-left-deco-line2 {height:2px;margin:14px auto;}
.magazine-inner-left-deco-line3 {height:3px;margin:0 auto 12px;}
.magazine-inner-left-deco-line1,
.magazine-inner-left-deco-line2,
.magazine-inner-left-deco-line3 { width:100%; background:#fff;display:block;}
.magazine-inner-image {margin-top:auto;}
.magazine-inner-image img {width:100%;height:332px;}



.magazine-inner-center {text-align: left;width:310px;margin:0 auto;}
.magazine-inner-center span {font-size:16px;line-height:1.6;display:flex; padding-bottom:20px;
                        letter-spacing:1.2px;}
.magazine-inner-center img {display: block;margin: 0 auto;width:100%;}

.magazine-inner-center-deco-line {margin: 8px 0; width:100%; height:1px; background:#ebe8e8;}

.magazine-inner-right {margin: 0 auto;width:480px;}
.magazine-inner-right img {width:100%;height:100%;}

.magazine-inner-bottom {margin-top:10px;display:block;}
.magazine-inner-bottom p {font-size:16px;line-height:1.6;letter-spacing:1.2px;}

.magazine-inner-view {display:flex;align-items:center;gap:20px;}
.magazine-ineer-view-deco-line {width:85%;height:1px;background:#fff;}
.magazine-inner-view a {font-size:20px;text-align: center;font-family:"Pretendard";display: flex;
                        justify-content: center;align-items: center;width: 140px;height: 40px;
                        border: 1px solid #fff;border-radius: 20px;}


/* =========================
          Category
===========================*/

.category-section { position: relative; padding: 100px 0; background-color: #1a1a1a; color: #fff;}
.category-background { position: absolute; right: 0; top: 140px; }
.category-container { width: 80%; max-width: 1400px; margin: 0 auto; position: relative; z-index: 5; }

.category-header { display: flex; gap: 15px; align-items: center; margin-bottom: 30px; }
.category-header h2 { font-size: 32px; font-weight: bold; }
.category-header img { transform: translateY(5px); }

.category-list-box {display: flex; flex-wrap: wrap; align-items: center;gap: 15px 28px;
            width: 100%; max-width: 1050px;margin-bottom:20px;}
.category-list-box button {position: relative; display: inline-block; padding: 6px 18px;border: 1px solid #fff;
                    border-radius: 20px; font-size: 14px;background: transparent; color: #fff;
                    cursor: pointer;transition: all 0.3s;}
.category-list-box button.c-active { background: rgba(255, 255, 255, 0.5); }
.category-list-box button:hover {background:rgba(255,255,255,0.3);}

.category-list-box button::after {content: "·"; position: absolute; right: -16px; top: 50%; 
                transform: translateY(-50%); color: #ffffff; font-size: 16px;pointer-events: none;}
.category-list-box button:nth-child(7)::after, 
.category-list-box button:last-child::after { display: none;}


.category-swiper {position: relative;padding: 150px 0 40px 0!important;}

.category-card {position: relative;width: 250px;height: 250px;cursor: pointer;}


.album-cover {position: relative; z-index: 3;width: 100%; height: 100%;border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);background: #000;}
.album-cover img { width: 100%; height: 100%; object-fit: cover; border-radius: 5px; }


.vinyl-record {position: absolute; top: 0; left: 50%;width: 95%; height: 95%; 
    transform: translateX(-50%);z-index: 1;transition: transform 0.6s cubic-bezier(0.25, 1, 0.5, 1);}
.vinyl-record img { width: 100%; height: 100%; object-fit: contain; }

.card-info {position: absolute; top: -85px; left: 0;width: 100%; text-align: center;opacity: 0;
            transform: translateY(15px);z-index: 2; transition: all 0.6s ease;
            font-family:'Pretendard';}
.card-info h3 { font-size: 16px;font-weight: 600; white-space: nowrap;
                overflow: hidden; text-overflow: ellipsis;display:block;width:160px;margin:0 auto 5px;}
.card-info p { font-size: 14px; color:#bbb;white-space:nowrap;overflow: hidden;text-overflow: ellipsis;
                display:block;width:180px;margin:0 auto;}

.category-card:hover .vinyl-record {transform: translate(-50%, -45%) rotate(180deg);}
.category-card:hover .card-info {opacity: 1; transform: translateY(0);}


.category-button-prev, .category-button-next {position: absolute; top: 70%;z-index: 10;
                     cursor: pointer;background:none;border:none;}

.category-button-prev {left: -30px;}
.category-button-next {right: -30px;}
.category-button-prev img, .category-button-next img {width: 40px;transition: transform 0.5s ease;}
.category-button-prev:hover img,
.category-button-next:hover img {transform:scale(1.2);}



/* =========================
            MOOD
===========================*/


.mood-section {padding:80px 0;background:url(../img/main/mood_background.png)no-repeat center / cover;
                overflow:hidden;}
.mood-header {width:80%; margin: 0 auto;}
.mood-header p {color:#EB681B;font-size:20px;font-family:'Pretendard';}
.mood-header__underbar {width:90px;height:2px;background:#fff;transform:translateY(-5px);}
.mood-header__background img{opacity:0.5;}


.mood-content {width:90%; margin-left:auto;margin-top:50px;display:flex;}
.mood-playlist {width:30%;border-right:1px solid #ffffff50;}
.mood-playlist ul {padding:10px 0 10px 5px ;height:100%;display:flex;flex-direction:column; justify-content: space-between;}
.mood-playlist ul li {display:flex;justify-content: center;}
.btn-playlist {background:none;color:#fff;border:none;font-size:20px;font-family:'Pretendard';cursor: pointer;
            display:flex;align-items: center;padding:10px 20px 10px 10px;width:100%;}
.mood-num {margin-right:50px;font-weight:200;}
.mood-txt{margin-right:auto;position:relative;transition: color 0.3s ease;}
.icon-play {display:inline-block;width:28px;height:28px;
            background:url(../img/main/play_inactive.png)no-repeat center / cover;margin-right:10px;}

.moodtxt::after{content:'';position:absolute;bottom:-4px;left:0; width:100%;height:2px;
                background:#EB681B; transform: scaleX(0);transform-origin:left;
                transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1);}


.btn-playlist.m-active .mood-txt, .btn-playlist.m-active .mood-num {color: #EB681B;}
.btn-playlist.m-active .icon-play {background:url(../img/main/play_active.png)no-repeat center / cover;}
.btn-playlist.m-active .mood-txt::after {transform: scaleX(1);}


.mood-playlist__item {margin-left:50px;font-family:"Prentendard";display:none;grid-template-columns:1fr 1fr;
                grid-template-areas: "info discover" "album tracklist"; column-gap:60px;row-gap:30px;
            }
.mood-playlist__item.track-active {display:grid;animation: FadeInLeft 0.5s ease forwards;}
.playlist__item-info {grid-area:info;}
.playlist__item-info img {width:30px;transform:translate(-24px,18px)}
.playlist__item-info p {font-size:22px;color:#FF8A1C;}
.playlist__item-info h3 {font-size:32px;}
.playlist__item-info span {font-size:16px;margin-top:5px;}


.playlist-album {margin-top:40px;width:400px; grid-area:album;}
.playlist-album img {width:100%;}


.album-discover {font-size:20px;display:flex;align-items: center;grid-area:discover;position:relative;}
.album-discover {margin-left:60px;}
.album-discover .spotlight {width:20px;margin-right:5px;}
.album-discover img {margin-left:10px;width:60px;}
.mood-playlist__item a .album-discover-background {width:420px;position:absolute;opacity:0.5;position:absolute;left:-30px;}


.playlist-album__num{font-size:14px;margin-right:50px;}
.playlist-album__title{font-size:16px;margin-right:auto;}
.playlist-album__time{font-size:16px;margin-right:20px;}
.playlist-album__img {display:inline-block;background:url(../img/main/play_inactive.png)no-repeat center / cover;
                width:16px;height:16px;}

.album-tracklist {grid-area:tracklist;width:280px;margin-left:50px;margin-top:30px;}
.album-tracklist li {display:flex;align-items: center;}
.album-tracklist li span {margin-bottom:30px;}
.album-tracklist li span:nth-child(2){white-space: nowrap;overflow:hidden;text-overflow:ellipsis;
                                display:inline-block;max-width:125px;}




@keyframes FadeInLeft {
    0% {
        opacity:0;
        transform:translateX(-50px);
    }

    100% {
        opacity:1;
        transform:translateX(0);
    }
}

/* =========================
            ABOUT
===========================*/

.seoul-vinyl-section {display: grid;grid-template-columns: 2fr 2fr 3fr 1fr 2fr;
    grid-template-areas:
        "title title main main main"
        "pat1  pat1  line desc desc"
        "pat2  pat2  line   desc desc"
        "sub   sub   info wave contact";
    gap: 30px;width:90%;margin: 80px auto;max-width:1296px;}

.sv-title-box    { grid-area: title; }
.sv-main-img-box { grid-area: main; }
.pattern1        { grid-area: pat1; }
.pattern2        { grid-area: pat2; }
.sv-desc-box     { grid-area: desc; }
.sv-sub-img-box  { grid-area: sub; }
.info-box        { grid-area: info; }
.pattern-wave    { grid-area: wave; }
.contact-box     { grid-area: contact; }
.sv-line         { grid-area: line ;}

.sv-title-box {display: flex;justify-content: space-between;align-items: flex-end;padding-bottom: 20px;}
.sv-title-box h2 {font-size: 120px;line-height: 1;}

.sv-main-img-box img,
.sv-sub-img-box img {width: 100%;height: 100%;}

.sv-desc-box {text-align: right;font-family:"Pretendard";}
.sv-desc-title {display: block;font-size: 14px;margin-bottom: 15px;font-weight: bold;}
.sv-desc-text {font-size: 14px;line-height: 1.6;color: #ccc;letter-spacing: 0.5px;}

.info-box {font-size: 14px;font-style: normal;line-height: 1.5;align-items: center;display:flex;}
.hours-list {margin-top: 10px;color: #999;}
.info-box-deco {width:54px;height:88px;border:1px solid #EB681B;transform:translateX(50px);}

.contact-box {background-color: #EB681B;padding-right: 15px;display: flex;flex-direction: column;
    justify-content: center; align-items: flex-end;font-family:'Prentendard';font-size:16px;}
.contact-box a {text-decoration: none;margin-top: 5px;font-size:14px;}

.sv-grid-line {width:100%;height:1px;background:#fff;margin-bottom:40px;}
.sv-grid-pattern {width:100%;height:45px;background:url(../img/main/seoul_vinyl01.png)no-repeat center /cover;}
.pattern2 {width:100%; height:73px; background:url(../img/main/seoul_vinyl02.png)no-repeat center;
            background-size: 100% 100%;}

.sv-line {display:flex;position:relative;}
.sv-grid-pattern2 {width:164px;height:136px;
                background:url(../img/main/seoul_vinyl05.png)no-repeat center;background-size:100% 100%;}
.sv-grid-line2 {width:200px;height:1px; background:#fff;position:absolute;right:-25px;}

.cs-phone {font-weight:bold;}

.pattern-wave {width:133px;height:88px;background: url(../img/main/seoul_vinyl06.png)no-repeat center;
            background-size: 100% 100%;margin-top:15px;}