@charset "utf-8";

.site-header {height: 90px; background: #222222;
              border-bottom: 1px solid #666666;}
/*======================
     메인 전체
  ==================*/
main {padding: 100px 20% 30px; background: #353535;}

.spot {
  padding: 14px 0;
  font-size: 20px;
  color: #fff;
  transform: translateX(-16.5%);
 
}

.spot span {
  color: #fefefe;
  font-weight: 700;
}

/*======페이지 타이틀=========*/
.page-title {
  text-align: center;
  padding: 50px 24px 30px;
  font-size: 48px;
  font-weight: 700;
  letter-spacing: 4px;

   background: linear-gradient(
        90deg,
        #fd6a00,
        #ffb347,
        #fcf5f5
    );
   -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    background-clip: text;
    color: transparent;
}

/*========폼 컨테이너========*/
.form-wrap{
  margin: 0 auto;
  padding: 0 24px 60px;
}

/*=========필드 행 공통=========*/
.field-row {
  display:flex ;
  align-items: center;
  gap: 10px;
  padding: 13px 0;
  border-bottom: 1px solid #666666;
}

/*=========필드 행1) 회원 아이디=========*/
.field-label {
  font-size:20px;
  color: #fff;
  min-width:  70px;
}

.field-colon {
  font-size: 13px;
  color: #fff;
}

.field-value {
  font-size: 20px;
  color: #fff;
  font-family:'Pretendard';
    font-weight: 200;
}


/*=========필드 행2) 제목 =========*/
.title-input {
  flex: 1;
  background: transparent;
  border: none;
  outline: none;
  color: #dfdede;
  font-size: 18px;
  font-family: inherit;
}

.title-input::placeholder{
  color: #a1a1a1;
  font-weight: 400px;
  font-family:  'Pretendard';
  font-weight: 400;
  font-size: 20px; 
}

/*=========필드 행3) 태그 ==========*/
.tag-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 14px 0;
  border-bottom: 1px solid #666666;
}

.tag-label {
  font-size: 21px;
  min-width: 50px;
  color: #fff;
}

/*-------태그 버튼 기본-----------*/
.tag-btn{
  display: inline-flex;
  align-items: center;
  gap: 7px;
  padding: 5px 13px;
  border-radius: 4px;
  border: none;
  background: transparent;
  color: #e2e2e2;
  font-size: 20px;
  font-family: inherit;
  user-select: none;
  transition: border-color 0.15s, color 0.14s, background 0.15s;
  font-family: 'Pretendard';
  font-weight: 400;
  font-size: 20px;

}
.tag-btn:hover{
  border-color: #888;
  color: #ddd;
}

/*----------태그 3행-> 체크박스 아이콘 ---------*/
.chk{
  width: 15px;
  height: 15px;
  border-radius: 2px;
  border:2px solid #c9c8c8;
  background: transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  transition: all 0.15s;
}

.tag-btn.active {
  border-color: #fd6500;
  color: #c8622a;
  background: rgba(200,98,42, 0.1);
}
.tag-btn.active .chk {
  background: #fd6500;
  border-color: #c8622a;
}

.tag-btn.active .chk::after {
  content: '';
  display: block;
  width: 7px;
  height: 4px;
  border-left: 1.5px solid #fff;
  border-bottom: 1.5px solid #fff;
  transform: rotate(-45deg) translateY(-1px);
}

/*======사진 첨부 라벨=========*/
.section-label {
  font-size: 20px;
  color: #bbb;
  padding: 18px 0 10px;
}

/*======사진 업로드 박스=========*/
.upload-box {
  border: none;
  border-radius: 6px;
  background: #efefef;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 180px;
  color: #252525;
  font-weight: 500;
  font-size: 13px;
  gap: 10px;
  cursor: pointer;
  transition: border-color 0.15s, color 0.15s;
  margin-bottom: 30px;
}

.upload-box:hover {
  color: #e91212;
}

.upload-box svg {
  width: 20px;
  height: 20px;
  stroke: currentColor;
  fill: none;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* 실제 file input 숨김 */
#fileInput {
  display: none;
}

/* ---------본문 라벨--------- */
.body-label {
  font-size: 20px;
  color: #bbb;
  padding: 10px 0;
  border-bottom: 1px solid #666666;
}

/*---------------본문 작성 박스-----*/
.body-textarea{
  margin-top: 15px;
width: 100%;
  min-height: 350px;
  background: #efefef;
  border: none;
  border-radius: 6px;
  color: #363636;
  font-size: 20px;
  font-family: inherit;
  padding: 14px;
  resize: vertical;
  outline: none;
  line-height: 1.7;
  transition: border-color 0.15s;
}

.body-textarea::placeholder {
  color: #535353;
  font-size: 18px;
}

/* ── 버튼 영역 ── */
.btn-row{
  width: 100%;
  display: flex;
  gap: 12px;
  margin-top: 20px;
  justify-content: flex-end;
}

.btn {
  padding: 8px 45px;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  background: #b9b9b9;
  transition: background 0.15s, color 0.15s;
  letter-spacing: 1.7px;
  
}

.btn:hover {
  background: #3a3a3a;
  color: #ddd;
}


.btn-primary {
   padding: 8px 45px;
  border-radius: 5px;
   font-size: 16px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  background: #fd6500;
  color: #e7e7e7;
  transition: background 0.15s, color 0.15s;
}

.btn-primary:hover {
  background:  #792c03;
  color: #fefefe;
  
}

